{% extends 'shop/layouts/main.html' %}

{% block title %}
Home Page
{% endblock title %}
{% block content %} 

<section class="bg-light py-4 my-5">
  <div class="container">
     <div class="row">
        <div class="col-12">
           <h4 class="mb-3">
            Home Page
           </h3>
           <br>
           <hr style="border-color:antiquewhite;">
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
       
     </div>
  </div>

</section>
            
{% endblock content %}